body{
    margin:50px;
}

img{
    width: 50%;
    display: block;
    margin: 0 auto;
    background: white;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    color: white;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
}
img:hover{
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

.topnav {
  background-color: rgb(35, 35, 35);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid red;
}

.topnav a.active {
  border-bottom: 3px solid red;
}

main{
  font-weight: bold;

}

h1{
    font-weight: bold;
    font-size: 48px;
    text-align: center;

}

h2{
    font-weight: bold;
    font-size: 36px;
}

p{
    margin:50px;
    line-height: 1.5;
}

footer{
    display: block;
    background-color: black;
    color: white;
    font-style: italic;
    font-size: 24px;
    text-align: center;
    margin: 10px;
    padding: 10px;
}